html {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 20px;
}

body {
    background-color: #6b6b6b;
}

.topnav {
	background-color: #111;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	border-bottom: solid 3px #bfbfbf;
}

.topnav a.active {
	background-color: dodgerblue;
	border-bottom: solid 3px dodgerblue;
}

.topnav a:not(.active):hover {
	background-color: #bfbfbf;
	color: black;
}

